<h2>Access Denied</h2>
<p>You do not have permission to view this page.</p>
<div class="text-center mt-3">
	<p>Already have an account? <a href="@Url.Action("Login", "Auth")">Go To Login </a></p>
</div>