@{
	var currentPath = Context.Request.Path.ToString().ToLower();
	var role = Context.Session.GetString("Role");

}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - HotelManagementSystem</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/HotelManagementSystem.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

</head>
<body>
	<header>
		@* Only show Navbar if not on Login or Register *@
		@if (!currentPath.Contains("/auth/login") && !currentPath.Contains("/auth/register") && currentPath != "/")
		{
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
				<div class="container-fluid">
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">HotelManagementSystem</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							@if (role == "User")
							{
								<li class="nav-item">
									<a class="nav-link" href="/User/AvailableRooms">Available Rooms</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/User/MyBookings">My Bookings</a>
								</li>
							}
							else if (role == "Admin")
							{
								<li class="nav-item">
									<a class="nav-link" href="/Admin/ManageRooms">Manage Rooms</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/Admin/ManageBookings">Manage Bookings</a>
								</li>
							}
							<li class="nav-item ms-auto">
								<a class="nav-link text-primary" asp-controller="Auth" asp-action="Logout">Logout</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		}
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2025 - HotelManagementSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
			integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
